body {
  background-color: black;
}

.countdown {
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.countdown ul.counter {
  display: inline-block;
  list-style: none;
  text-align: center;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  position: relative;
  z-index: 2;
}
.countdown ul.counter li {
  float: left;
  padding: 2px;
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 200px;
  margin-left: 20px;
  list-style: none;
  background: -webkit-linear-gradient(#fff1dd, #f5b252);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -1px 1px 8px #f5b252, 1px -1px 8px #f5b252;
}

h1 {
  -webkit-animation-name: zoomIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-name: zoomIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-align: center;
  opacity: 0;
  background: -webkit-linear-gradient(#c60001, #c60001);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: -1px 1px 8px #c60001, 1px -1px 8px #c60001;
  font-size: 70px;
  font-family: 'Share Tech Mono', sans-serif;
  margin-top: 100px;
}

img {
  -webkit-animation-name: changeColor;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
  animation-name: changeColor;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  position: absolute;
  z-index: 2;
  width: 700px;
  height: 165px;
  top: 300px;
  left: 50%;
  margin-left: -350px;
}

p {
  color: white;
  font-family: 'Share Tech Mono', sans-serif;
  text-align: center;
}

@keyframes zoomIn {
  0%   {
    transform: scale(0, 0);
    opacity: 0;
  }
  25% {
    transform: scale(1, 1);
    opacity: 1;
  }
  75% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0%   {
    -webkit-transform: scale(0, 0); /* Safari */
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(1, 1); /* Safari */
    opacity: 1;
  }
  75% {
    -webkit-transform: scale(1, 1); /* Safari */
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1); /* Safari */
    opacity: 1;
  }
}

@keyframes fadeIn {
  0%   {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%   {
    -webkit-opacity: 0;
    opacity: 0;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 1;
  }
}

@keyframes changeColor {
  0%   {
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
  }
  100% {
  -webkit-filter: grayscale(0);
   filter: grayscale(0);
  }
}

@-webkit-keyframes changeColor {
  0%   {
   -webkit-filter: grayscale(1);
   filter: grayscale(1);
  }
  100% {
  -webkit-filter: grayscale(0);
   filter: grayscale(0);
  }
}

@media (max-width: 1450px) {
  h1 {
    font-size: 70px;
  }
  .countdown ul.counter li {
    font-size: 100px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 60px;
  }
  .countdown ul.counter li {
    font-size: 100px;
  }
  img {
    width: 100%;
    height: auto;
    left: 0;
    margin-left: 0;
    position: relative;
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .countdown ul.counter li {
    font-size: 60px;
  }
  img {
    top: 100px;
  }
}